@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0px;
}

body {
  position: relative;
}

.preserve3d {
  perspective: 1000px;
  transform-style: preserve-3d;
  transform: rotate3d(0, 1, 1, 90deg);
  opacity: 0;
  transition: 500ms ease-in-out;
}

.preserve3d.right {
  transform: rotate3d(0, 1, 0, 0deg);
  opacity: 1;
}

.preserve3d.left {
  transform: rotate3d(0, 1, 0, -0deg);
  opacity: 1;
}
